<!DOCTYPE html>
<html lang="en">

<head>
    <title>Levi's® for Men - Shop Clothing, Accessories & Footwear | Levi's® India</title>
    <script src="https://kit.fontawesome.com/599713bf7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menProducts.css">
    <link rel="stylesheet" href="/css/footermain.css">
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">

</head>

<body>
    <header class="complete-header"></header>
    <div id="tpcc">
        <div>
            <h2>REFINE</h2>
        </div>
        <div id="pro_sort">
            <div>
                <h2>
                    Total Style : <span id="totalProductsIn">
                        <%= men.length %>
                    </span>
                </h2>
            </div>
            <div id="selectCon">
                <select id="sortSelect">
                    <option value="low">Price : low to high</option>
                    <option value="high">Price : High to low</option>
                    <option value="a">Sort : A to Z</option>
                    <option value="z">Sort : Z to A</option>
                </select>
            </div>
        </div>
    </div>
    <div id="productPage">
        <div id="leftDiv">
            <hr>
            <div class="">
                <div class="open-close">
                    <span>GENDER</span>
                    <span class="openAndClose"><i class="fas fa-minus-circle"></i></span>
                </div>
                <div class="openAndCloseDiv" id="openAndCloseDiv0">
                    <input id="api" type="checkbox" class="gender_checkboxes" value=<%=`${pfvalues.gender1}`%>
                    onclick="onclickFunc()">
                    <label for="">
                        <%=`${pfvalues.gender1}`%>
                    </label> <br>
                    <input type="checkbox" class="gender_checkboxes" value=<%=`${pfvalues.gender2}`%>
                    onclick="onclickFunc()">
                    <label for="">
                        <%=`${pfvalues.gender2}`%>
                    </label>
                </div>
            </div>
            <hr>
            <div class="">
                <div class="open-close">
                    <span>ITEM TYPE</span>
                    <span class="openAndClose"><i class="fas fa-minus-circle"></i></span>
                </div>
                <div class="openAndCloseDiv" id="openAndCloseDiv1">
                    <input type="checkbox" class="item_type_checkboxes" value=<%=`${pfvalues.item_type1}`%>
                    onclick="onclickFunc()">
                    <label for="">
                        <%=`${pfvalues.item_type1}`%>
                    </label> <br>
                    <input type="checkbox" class="item_type_checkboxes" value=<%=`${pfvalues.item_type2}`%>
                    onclick="onclickFunc()">
                    <label for="">
                        <%=`${pfvalues.item_type2}`%>
                    </label> <br>
                    <input type="checkbox" class="item_type_checkboxes" value=<%=encodeURI(`${pfvalues.item_type3}`)%>
                    onclick="onclickFunc()">
                    <label for="">
                        <%=`${pfvalues.item_type3}`%>
                    </label> <br>
                </div>
            </div>
            <hr>
            <div class="">
                <div class="open-close">
                    <span>PRICE</span>
                    <span class="openAndClose"><i class="fas fa-minus-circle"></i></span>
                </div>
                <div class="openAndCloseDiv" id="openAndCloseDiv2">
                    <input type="radio" name="priceRadioInput" value="" class="priceRadioInputClass">
                    <label for="">₹0 - ₹1000</label><br>
                    <input type="radio" name="priceRadioInput" value="" class="priceRadioInputClass">
                    <label for="">₹1001 - ₹3000</label><br>
                    <input type="radio" name="priceRadioInput" value="" class="priceRadioInputClass">
                    <label for="">₹3001 - ₹5000</label><br>
                    <input type="radio" name="priceRadioInput" value="" class="priceRadioInputClass">
                    <label for="">₹5001 - ₹10000</label>
                </div>
            </div>
            <hr>
        </div>
        <div id="rightDiv">
            <div id="menProductDiv">

                <% for(let x of men ){ %>
                    <a href=<%=encodeURI(`/${pfvalues.gender1}/${x.item_type}/${x._id}`)%> class="colorlessAnchorTag" >
                        <div class="menDiv">
                            <img <%=`src=${x.highresImage[0]}`%> alt="" class="menImg">
                            <div class="menTitle"><%=x.title %>
                            </div>
                            <div class="priceDiv">
                                <p class="mrpp"> ₹<%= x.price.mrp %>
                                </p>
                                <p class="pricee">₹<%= x.price.price %>
                                </p>
                                <p class="dis"> (<%= x.price.disc %> % off)</p>
                            </div>
                        </div>
                    </a>
                    <% } %>

            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>
<script src="/js/menProducts.js"></script>

<script type="module">
    import { navbar, search } from "/js/header.js"
    import footermain from "/js/footermain.js"
    import profile from "/components/profile.js"
    import cart from "/components/cart.js"

    document.getElementsByTagName("footer")[0].innerHTML = footermain()
    document.getElementsByTagName('header')[0].innerHTML = navbar()
    document.getElementById('cart_container_anchor').addEventListener('click', cart)
    profile()
    search()

</script>