<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LEVI'S® shopping</title>
  <link rel="stylesheet" href="/css/product.css" />
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footermain.css">
  <script src="https://kit.fontawesome.com/599713bf7d.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/img/logo.jpg">
</head>

<body>

  <header class="complete-header"></header>
  <input type="hidden" id="id_container" value=<%=`${man._id}`%>
  <div id="product_body">
    <p id="pro_path">
      <%=`${man.gender} /clothing/${man.item_type}`%>
    </p>
    <div id="primary">
      <div id="image_section">
        <div id="mini_preview">
          <%for(let x of man.image){%>
            <img <%=`src=${x}`%> alt="" class="mini_image">
            <%}%>
        </div>
        <div id="preview"><img <%=`src=${man.highresImage[0]}`%> alt="" id="prod_highres_image"></div>
      </div>

      <div id="product_details">
        <h1 id="p_name"><%=man.title%></h1>
        <p id="p_num"> Item Number: <%=man.item_no%>
        </p>
        <div id="price_sec">
          <span id="mrp">
            <%=man.price.mrp%>
          </span>
          <span id="price">₹ <span id="pro_price_x"><%=man.price.price%></span></span>
          <span id="disc">( <%=man.price.disc%> % off )</span>
        </div>
        <p>Inclusive of all taxes</p>
        <span>Color</span>
        <div id="colors_row">
          <% for(let x in man.color){%>
            <div class="color_block">
              <%=x%>
            </div>
            <%}%>
        </div>

        <h4>size</h4>
        <div id="size_row">
          <% for(let x in man.size){%>
            <div class="size_box">
              <%=x%>
            </div>
            <% } %>
        </div>
        <h4>Delivery Eligibility</h4>
        <div class="" id="del_div">
          <input type="text" placeholder="Enter Pincode">
          <button id="check_pin">CHECK</button>
        </div>
        <div id="buy_div">
          <div id="qty_text">QTY</div>
          <div id="qty_sel">
            <option value="" id="qty_opt">
              1
            </option>
          </div>
          <button id="add_cart_btn" >ADD TO CART</button>
          <button id="buy_now" onclick="wishlist()">BUY NOW</button>
        </div>
      </div>
    </div>
    <div class="pro_info">
      <div id="desc">
        <h4>DESCRIPTION</h3>
          <p>
            <%=man.description%>
          </p>
      </div>
      <div id="fit">
        <h4>FIT AND SIZING</h4>
        <%for( let x of man.fit){%>
          <li>
            <%=x%>
          </li>
          <%}%>
      </div>
      <div id="material">
        <h4>
          MATERIAL
        </h4>
        <%for( let x of man.material){%>
          <li>
            <%=x%>
          </li>
          <%}%>
      </div>
    </div>
    <hr>
    <div id="add_det">
      <h4>
        ADDITIONAL DETAILS
      </h4>
      <li>Country of Origin: China</li>
      <li>Manufactured by: Zhejiang Wenhua Garments.Co.Ltdqiantang Village Xintang St Xiaoshan District Hangzhou, 311201
        China</li>
      <li>Marketed by: Levi Strauss India Pvt. Ltd.</li>
    </div>
  </div>
  <footer></footer>
</body>

</html>
<script type="module">
    import navbar from "/js/header.js"
    import footermain from "/js/footermain.js"
    import profile from "/components/profile.js"
    import cart from "/components/cart.js"

    document.getElementsByTagName("footer")[0].innerHTML = footermain()
    document.getElementsByTagName('header')[0].innerHTML = navbar()
    document.getElementById('cart_container_anchor').addEventListener('click', cart)
    profile()
  
  const add_cart_btn = document.getElementById('add_cart_btn')
  add_cart_btn.addEventListener('click', postDataToCart)

    async function postDataToCart(){
      
      const { email, token ,id} = JSON.parse(localStorage.getItem('token'))
        if(!token){
            alert('please sign in')
            return 
        }
      const send_body = {
        user_id : id,
        image : document.getElementById('prod_highres_image').src,
        product_id : document.getElementById('id_container').value,
        title : document.getElementById('p_name').textContent,
        price : document.getElementById('pro_price_x').textContent
      }
  
      const sec_arg = {
        method : "POST",
        headers : {
          "Content-Type" : "application/json"
        },
        body : JSON.stringify(send_body)
      }
  
      const response1 = await fetch('/cart',sec_arg)
      const response2 = await response1.json()
      alert('Product is added in your cart.')
    }

</script>